.button {
  width: 100%;
  background: #FF7626;
  color: white;
  border-radius: 0.3rem;
  padding: 0.6rem;
  outline: none;
  cursor: pointer;
  font-size: inherit;
}

.button:active {
  opacity: 0.8;
}

.border {
  border: 1px solid;
}
