.newTaskForm {
  background: rgba(255, 255, 255, 0.15);
  padding: 0.5rem;
}

.header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  border: 0;
  color: white;
}
